.github/**
.vscode/**
.vscode-test/**
.out-of-code-insights/**
docs/**
test/**
test-RunExtension/**
テスト/**
.gitmessage
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
worktable/
AGENTS.md
CONTRIBUTING.md
eslint.config.cjs
